.fixform {
  .fixformdiv {
    height: 110px;
    min-width: 1100px;
    position: relative;
    padding: 0 8rem;

    .propos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .proposal {
        color: white;
        font-weight: 800;
      }

      .proposalnum {
        color: #11d046;
        font-size: 1.8rem;
      }
    }

    label,
    .checkbox,
    span {
      color: white;
      font-weight: 100;
    }
  }

  .formform {
    display: flex;
    align-items: center;

    input {
      line-height: 1.5;
    }

    .nameinput {
      width: 90px;
      background-color: transparent;
      border: 1px solid white;
    }

    .phoneinput {
      width: 50px;
      background-color: transparent;
      border: 1px solid white;
    }

    .positioninput {
      width: 100px;
      background-color: transparent;
      border: 1px solid white;
    }

    .submitinput {
      background-color: black;
      color: white;
      font-weight: 300;
      border: 0;
      padding: 0.5rem 0.5rem;
      font-size: 0.9rem;
    }
  }
}

.dim {
  overflow-y: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 101;
  }
}

// 모달팝업 폼

.firstform {
  position: fixed;
  width: 600px !important;
  height: 610px;
  text-align: left;
  padding: 0 15px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 110;

  .first {
    line-height: 1;

    p {
      font-size: 1.4rem;
    }

    button {
      border: 0;
      background-color: transparent;
      font-size: 1.5rem;
    }
  }

  input {
    line-height: 2;
  }

  .nameinput1 {
    width: 100%;
    border: 1px solid #ccc;
    margin: 0 !important;
  }

  .phoneinput1 {
    width: 100px;
    border: 1px solid #ccc;
    margin: 0 !important;
  }

  .positioninput1 {
    width: 100%;
    border: 1px solid #ccc;
    margin: 0 !important;
  }

  .form-control {
    height: 150px;
    overflow: scroll;
  }

  .submitinput {
    background-color: black;
    color: white;
    font-weight: 400;
    border: 0;
    padding: 0.5rem 2rem;
    font-size: 0.9rem;
  }
}
