.site {
  width: 300px;
  height: 100vh;
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  z-index: 200;
  .login {
    background-color: #2b2b2b;
    padding: 37px 25px;

    span {
      color: white;
      opacity: 0.6;
      font-size: 1rem;
    }
  }

  button {
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 0.8rem;
  }

  .arrow {
    transition: 0.5s;
  }

  .chevron::after {
    content: "\F282";
    font-family: bootstrap-icons !important;
  }

  .login_gnb {
    padding: 0 !important;
    margin: 0;
    & > li {
      padding: 5px 0;
      border-bottom: 1px solid #ccc;
      white-space: wrap;
    }

    span {
      display: block;
      padding: 10px 20px;
    }

    .d2a {
      font-size: 0.8rem;
    }
  }

  .closebtn i {
    position: absolute;
    top: 2.6vh;
    right: 320px;
    font-size: 1.4rem;
    z-index: 1;
    color: white;
  }

  .site_menu {
    display: block;

    li {
      display: block;
      padding: 10px;
    }
  }
}

.site::after {
  content: "";
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
  left: 0;
  right: 300px;
  top: 0;
  bottom: 0;
}

#hd {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  h1 {
    width: 0;
    margin-bottom: 0 !important;

    a {
      display: block;
      max-width: 146px !important;
      width: 30vw;
    }

    a:after {
      content: "";
      display: block;
      height: 0;
      padding-top: 38%;
      background-image: url("../../public/img/main_logo.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }

  ul {
    li {
      a {
        transition: 0.5s;
      }
    }
  }
}
