#content3 {
  padding-top: 88px;

  .storeposi {
    position: relative;
    #storemap {
      z-index: 0;
    }
    .storediv {
      position: relative;
      height: 95%;
      .storelist {
        position: absolute;
        top: 3%;
        left: 3%;
        z-index: 1;
        width: 25%;
        background-color: white;
        height: 100%;
        overflow: scroll;
        // 스크롤 만들기

        //
        .storelistinput {
          display: flex;
          justify-content: space-between;
          padding: 1rem;
          position: sticky;
          top: 0;
          left: 0;
          right: 0;
          background-color: #fff;
          input:focus {
            outline: none;
          }
          input,
          button {
            border: 0;
            background-color: transparent;
            line-height: 2;
          }
        }

        .imglist {
          padding: 1rem;
          width: 100%;
          border-bottom: 1px solid #ccc;
          box-sizing: border-box;
          img {
            width: 5vw;
            height: 100%;
            cursor: pointer;
          }

          div {
            margin-left: 1rem;
            h4 {
              font-size: 1rem;
              margin-top: 0.3rem;
              cursor: pointer;
            }
            p {
              font-size: 0.9rem;
              margin-top: 0.5rem;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
